.btn__overview__mars {
  display: flex;
  padding: 12px 28px;
  color: #ffffff;
  font-size: 12px;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 0;
  transition: all 0.3s ease-in;
}
.btn__overview__mars.active {
  background-color: #d14c32;
}

.btn__internal__mars {
  display: flex;
  padding: 12px 28px;
  color: #ffffff;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  transition: all 0.3s ease-in;
}
.btn__internal__mars.active {
  background-color: #d14c32;
}

.btn__surface__mars {
  display: flex;
  padding: 12px 28px;
  color: #ffffff;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  transition: all 0.3s ease-in;
}
.btn__surface__mars.active {
  background-color: #d14c32;
}
.btn__overview__mars:hover {
  background-color: #38384f;
}
.btn__internal__mars:hover {
  background-color: #38384f;
}
.btn__surface__mars:hover {
  background-color: #38384f;
}
