.btn__overview {
  display: flex;
  padding: 12px 28px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 0;
  transition: all 0.3s ease-in;
}
.btn__overview.active {
  background-color: #e72b2b;
}

.btn__internal {
  display: flex;
  padding: 12px 28px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  transition: all 0.3s ease-in;
}
.btn__internal.active {
  background-color: #da8612;
}

.btn__surface {
  display: flex;
  padding: 12px 28px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  transition: all 0.3s ease-in;
}
.btn__surface.active {
  background-color: #da8612;
}
