.btn__overview__mercury {
  display: flex;
  padding: 12px 28px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 0;
  transition: all 0.3s ease-in;
}
.btn__overview__mercury.active {
  background-color: #419ebb;
}

.btn__internal__mercury {
  display: flex;
  padding: 12px 28px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  transition: all 0.3s ease-in;
}
.btn__internal__mercury.active {
  background-color: #419ebb;
}

.btn__surface__mercury {
  display: flex;
  padding: 12px 28px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  transition: all 0.3s ease-in;
}
.btn__surface__mercury.active {
  background-color: #419ebb;
}
.btn__overview__mercury:hover {
  background-color: #38384f;
}
.btn__internal__mercury:hover {
  background-color: #38384f;
}
.btn__surface__mercury:hover {
  background-color: #38384f;
}
