.btn__overview__venus {
  display: flex;
  padding: 12px 28px;
  color: #ffffff;
  font-size: 12px;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 0;
  transition: all 0.3s ease-in;
}
.btn__overview__venus.active {
  background-color: #eda249;
}

.btn__internal__venus {
  display: flex;
  padding: 12px 28px;
  color: #ffffff;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  transition: all 0.3s ease-in;
}
.btn__internal__venus.active {
  background-color: #eda249;
}

.btn__surface__venus {
  display: flex;
  padding: 12px 28px;
  color: #ffffff;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  transition: all 0.3s ease-in;
}
.btn__surface__venus.active {
  background-color: #eda249;
}
.btn__overview__venus:hover {
  background-color: #38384f;
}
.btn__internal__venus:hover {
  background-color: #38384f;
}
.btn__surface__venus:hover {
  background-color: #38384f;
}
