@import "./variables";
@import "./resets";

.nav-link__mercury {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.75;
  letter-spacing: 1px;
  padding: 14px;
  transition: all 0.3s ease-in;
}
/*.nav-link__mercury.active {
  color: #ffffff !important;
  border-top: 5px solid #419EBB;
}*/
.nav-link__mercury:hover {
  color: #ffffff !important;
  border-top: 3px solid #419ebb;
}
/*VENUS*/

.nav-link__venus {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.75;
  letter-spacing: 1px;
  padding: 14px;
  transition: all 0.3s ease-in;
}
/*.nav-link__venus.active {
  color: #ffffff !important;
  border-top: 5px solid #419EBB;
}*/
.nav-link__venus:hover {
  color: #ffffff !important;
  border-top: 3px solid #eda249;
}

/*EARTH*/
.nav-link__earth {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.75;
  letter-spacing: 1px;
  padding: 14px;
  transition: all 0.3s ease-in;
}
/*.nav-link__venus.active {
  color: #ffffff !important;
  border-top: 5px solid #419EBB;
}*/
.nav-link__earth:hover {
  color: #ffffff !important;
  border-top: 3px solid #6d2ed5;
}
/*MARS*/
.nav-link__mars {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.75;
  letter-spacing: 1px;
  padding: 14px;
  transition: all 0.3s ease-in;
}

.nav-link__mars:hover {
  color: #ffffff !important;
  border-top: 3px solid #d14c32;
}

/*Jupiter*/
.nav-link__jupiter {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.75;
  letter-spacing: 1px;
  padding: 14px;
  transition: all 0.3s ease-in-out;
}

.nav-link__jupiter:hover {
  color: #ffffff !important;
  border-top: 3px solid #d83a34;
}

/*Saturn*/
.nav-link__saturn {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.75;
  letter-spacing: 1px;
  padding: 14px;
  transition: all 0.3s ease-in-out;
}

.nav-link__saturn:hover {
  color: #ffffff !important;
  border-top: 3px solid #cd5120;
}

/*Uranus*/
.nav-link__uranus {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.75;
  letter-spacing: 1px;
  padding: 14px;
  transition: all 0.3s ease-in-out;
}

.nav-link__uranus:hover {
  color: #ffffff !important;
  border-top: 3px solid #1ec1a2;
}

/*Neptune*/
.nav-link__neptune {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.75;
  letter-spacing: 1px;
  padding: 14px;
  transition: all 0.3s ease-in-out;
}

.nav-link__neptune:hover {
  color: #ffffff !important;
  border-top: 3px solid #1ec1a2;
}
