@import "./variables";
//@import "./resets";
@mixin header {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  opacity: 0.75;
  letter-spacing: 1px;
  /*padding: 14px;*/
  transition: all 0.3s ease-in;
}

.navbar {
  background-color: $bg-navbar;
  padding: 0;
}
.navbar-brand {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: -1.05px;
}

.navbar-toggler {
  color: transparent;
}
.navbar-toggler-icon {
  background-image: url("/public/assets/icon-hamburger.svg");
  color: #ffffff;
}

.container__header {
  width: 75%;
  margin: auto;

  @media (max-width: 568px) {
    justify-content: space-between;
    flex-direction: column;
  }
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 568px) {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
  }
}
.navbar-collapse {
  @media (max-width: 568px) {
    height: 100vh !important;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    background-color: #070724;
    z-index: 1;
    transition: all 0.3s ease-in;
  }
}

.navbar-nav {
  @media (max-width: 568px) {
    width: 100%;
  }
}
.nav-item {
  width: 100%;
  cursor: pointer;
  margin-left: 10px;
  @media (max-width: 568px) {
    width: 80%;
    cursor: pointer;
    margin: 0 auto;
    &:not(:last-child) {
      border-bottom: 1px solid #ffffff;
      opacity: 0.7;
    }
    &:hover {
      color: #ffffff !important;
      opacity: 1;
    }
  }
}
.nav-link {
  color: #ffffff;
  &:hover {
    color: #ffffff !important;
    opacity: 1;
  }
  &.active {
    color: rgb(163, 160, 160) !important;
  }
}

/*MERCURY*/

.nav-link__mercury {
  @include header;

  &:hover {
    border-top: 1px solid $bg-mercury;
  }
  @media (max-width: 568px) {
    @include header;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 20px;
      top: 0;
      left: -30px;
      height: 20px;
      border: 2px solid green;
      background: #c91515;
      border-radius: 50%;
    }
    &:hover {
      color: $white !important;
    }
  }
}

/*VENUS*/

.nav-link__venus {
  @include header;
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-venus;
  }
}

/*EARTH*/
.nav-link__earth {
  @include header;
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-earth;
  }
}

/*MARS*/
.nav-link__mars {
  @include header;
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-mars;
  }
}

/*Jupiter*/
.nav-link__jupiter {
  @include header;
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-jupiter;
  }
}

/*Saturn*/
.nav-link__saturn {
  @include header;
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-saturn;
  }
}

/*Uranus*/
.nav-link__uranus {
  @include header;
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-uranus;
  }
}

/*Neptune*/
.nav-link__neptune {
  @include header;
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-neptune;
  }
}
