@import "./variables";

/*
.nav {
  flex-direction: column;
}

.nav-link,
.nav-link.active,
.nav-pills,
.nav-pills.active {
  width: 100%;
  display: block;
  background-color: transparent;
}
.nav__mercury {
  width: 100%;
  flex-direction: column;
}
*/
