$bg-mercury: #419ebb;
$bg-venus: #eda249;
$bg-earth: #6d2ed5;
$bg-mars: #d14c32;
$bg-jupiter: #d83a34;
$bg-saturn: #cd5120;
$bg-uranus: #1ec1a2;
$bg-neptune: #2d68f0;
$bg-navbar: #070724;
$bg-hover: #38384f;
$white: #ffffff;
