@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Raleway:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan:wght@400;700&family=Raleway:wght@300;400;500&display=swap");
@import "./variables";
@import "./resets";

/*HEADER*/
.navbar {
  background-color: $bg-navbar;
  padding: 0;
}
.navbar-brand {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: -1.05px;
}

.navbar-toggler {
  color: transparent;
}

.navbar-toggler-icon {
  background-image: url("/public/assets/icon-hamburger.svg");
}

.container__header {
  width: 75%;
  margin: auto;

  @media (max-width: 568px) {
    margin: 0 14px;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 568px) {
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
  }
}
.navbar-collapse {
  @media (max-width: 568px) {
    height: 100vh !important;
    width: 100%;
    display: flex;
    top: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background-color: #070724;
    z-index: 1;
    transition: all 0.3s ease-in;
  }
}

.navbar-nav {
  @media (max-width: 568px) {
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
    top: 2rem;
  }
}
.nav-item {
  width: 100%;
  cursor: pointer;

  &:hover {
    color: #ffffff !important;
    opacity: 1;
  }

  @media (max-width: 568px) {
    width: 85%;
    cursor: pointer;
    margin: 0 auto;

    &:not(:last-child) {
      border-bottom: 1px solid #ffffff;
      opacity: 1;
    }
  }
}
.nav-link {
  display: block;
  color: $white !important;
  opacity: 0.75;
  padding: 12px;
  &:hover {
    color: $white !important;
  }
  &.active {
    opacity: 1 !important;
  }
  @media (max-width: 568px) {
    position: relative;
    margin-left: 30px;
    padding: 25px;
    font-weight: 700;
    text-transform: uppercase;
    &::before {
      position: absolute;
      content: "";
      width: 20px;
      top: 30px;
      left: -35px;
      height: 20px;
      border-radius: 50%;
    }
  }
}

/*MERCURY*/
.nav-link__mercury {
  /*@include header;*/
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-earth;
  }
  @media (max-width: 568px) {
    &::before {
      background: $bg-mercury;
    }
    &:hover {
      border-top: 0;
    }
  }
}

/*VENUS*/
.nav-link__venus {
  /*@include header;*/
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-earth;
  }
  @media (max-width: 568px) {
    &::before {
      background: $bg-venus;
    }
    &:hover {
      border-top: 0;
    }
  }
}

/*EARTH*/

.nav-link__earth {
  /*@include header;*/
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-earth;
  }
  @media (max-width: 568px) {
    &::before {
      background: $bg-earth;
    }
    &:hover {
      border-top: 0;
    }
  }
}

/*MARS*/
.nav-link__mars {
  /*@include header;*/
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-mars;
  }
  @media (max-width: 568px) {
    &::before {
      background: $bg-mars;
    }
    &:hover {
      border-top: 0;
    }
  }
}

/*Jupiter*/
.nav-link__jupiter {
  /*@include header;*/
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-jupiter;
  }
  @media (max-width: 568px) {
    &::before {
      background: $bg-jupiter;
    }
    &:hover {
      border-top: 0;
    }
  }
}

/*Saturn*/
.nav-link__saturn {
  /*@include header;*/
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-saturn;
  }
  @media (max-width: 568px) {
    &::before {
      background: $bg-saturn;
    }
    &:hover {
      border-top: 0;
    }
  }
}

/*Uranus*/
.nav-link__uranus {
  /*@include header;*/
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-uranus;
  }
  @media (max-width: 568px) {
    &::before {
      background: $bg-uranus;
    }
    &:hover {
      border-top: 0;
    }
  }
}

/*Neptune*/
.nav-link__neptune {
  /*@include header;*/
  &:hover {
    color: $white !important;
    border-top: 3px solid $bg-neptune;
  }
  @media (max-width: 568px) {
    &::before {
      background: $bg-neptune;
    }
    &:hover {
      border-top: 0;
    }
  }
}
/*IMAGES*/
.img {
  @media (max-width: 568px) {
    margin-top: 4rem;
  }
}

/*CARDS*/
@mixin flex-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.container__card {
  width: 90%;
  margin: auto;
  @media (max-width: 768px) {
    margin-top: 4rem;
  }

  @media (max-width: 568px) {
    margin-top: 4rem;
    width: 98%;
  }
}

/*CARD_BODY*/

.card {
  height: 80%;
  @include flex-card;
  background-color: $bg-navbar;
  margin-top: 80px;
  @media (max-width: 756px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 568px) {
    height: 80%;
    flex-direction: column-reverse;
  }
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  @media (max-width: 756px) {
    display: flex;
    width: 100%;
    flex-direction: column;
    column-gap: 1rem;
    justify-content: space-between;
    padding: 0;
  }
  @media (max-width: 568px) {
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
}

.card-title {
  font-family: "Antonio", sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  margin-bottom: 23px;
  margin-top: 126px;
  @media (max-width: 756px) {
    margin-top: 20px;
  }
  @media (max-width: 568px) {
    margin-top: 0;
  }
}
.card-text {
  width: auto;
  font-family: "League Spartan", sans-serif;
  font-size: 14px;
  line-height: 25px;
  @media (max-width: 568px) {
    margin-top: 32px;
    padding: 0 15px;
  }
}

/*BUTTONS*/

@mixin button-planets {
  display: flex;
  padding: 12px 28px;
  color: $white;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 0;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

.btn__container {
  margin-top: 39px;
  margin-bottom: 87px;
  width: 90%;
  display: grid;
  gap: 1rem;

  @media (max-width: 568px) {
    display: flex;
    justify-content: center;
    align-self: center;
    column-gap: 0.5rem;
    border-top: 2px solid rgb(#ffffff, 0.5);
    border-bottom: 2px solid rgb(#ffffff, 0.5);
  }
}

/*MERCURY*/
.btn__overview__mercury {
  @include button-planets;
  &.active {
    background-color: $bg-mercury;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    font-size: 9px;
    letter-spacing: 2px;
    padding: 20px 24px;
    &.active {
      border-bottom: 3px solid $bg-mercury;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}
.btn__internal__mercury {
  @include button-planets;
  &.active {
    background-color: $bg-mercury;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 2px solid $bg-mercury;
      background-color: transparent;
    }
    &:hover {
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

.btn__surface__mercury {
  @include button-planets;
  &.active {
    background-color: $bg-mercury;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-mercury;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}
/*VENUS*/
.btn__overview__venus {
  background-color: $bg-venus;
  @include button-planets;
  &.active {
    background-color: $bg-venus;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-venus;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}
.btn__internal__venus {
  @include button-planets;
  &.active {
    background-color: $bg-venus;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-venus;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

.btn__surface__venus {
  @include button-planets;
  &.active {
    background-color: $bg-venus;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-venus;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

/*EARTH*/
.btn__overview__earth {
  background-color: $bg-earth;
  @include button-planets;
  &.active {
    background-color: $bg-earth;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-earth;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}
.btn__internal__earth {
  @include button-planets;
  &.active {
    background-color: $bg-earth;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-earth;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

.btn__surface__earth {
  @include button-planets;
  &.active {
    background-color: $bg-earth;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-earth;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

/*MARS*/
.btn__overview__mars {
  background-color: $bg-mars;
  @include button-planets;
  &.active {
    background-color: $bg-mars;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-mars;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}
.btn__internal__mars {
  @include button-planets;
  &.active {
    background-color: $bg-mars;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-mars;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

.btn__surface__mars {
  @include button-planets;
  &.active {
    background-color: $bg-earth;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-mars;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

/*JUPITER*/

.btn__overview__jupiter {
  background-color: $bg-jupiter;
  @include button-planets;
  &.active {
    background-color: $bg-jupiter;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-jupiter;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}
.btn__internal__jupiter {
  @include button-planets;
  &.active {
    background-color: $bg-jupiter;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-jupiter;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

.btn__surface__jupiter {
  @include button-planets;
  &.active {
    background-color: $bg-jupiter;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-jupiter;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

/*SATURN*/
.btn__overview__saturn {
  background-color: $bg-saturn;
  @include button-planets;
  &.active {
    background-color: $bg-saturn;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-saturn;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}
.btn__internal__saturn {
  @include button-planets;
  &.active {
    background-color: $bg-saturn;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-saturn;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

.btn__surface__saturn {
  @include button-planets;
  &.active {
    background-color: $bg-saturn;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-saturn;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

/*URANUS*/
.btn__overview__uranus {
  background-color: $bg-uranus;
  @include button-planets;
  &.active {
    background-color: $bg-uranus;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-uranus;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}
.btn__internal__uranus {
  @include button-planets;
  &.active {
    background-color: $bg-uranus;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-uranus;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

.btn__surface__uranus {
  @include button-planets;
  &.active {
    background-color: $bg-uranus;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-uranus;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

/*NEPTUNE*/
.btn__overview__neptune {
  background-color: $bg-neptune;
  @include button-planets;
  &.active {
    background-color: $bg-neptune;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-neptune;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}
.btn__internal__neptune {
  @include button-planets;
  &.active {
    background-color: $bg-neptune;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-neptune;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}

.btn__surface__neptune {
  @include button-planets;
  &.active {
    background-color: $bg-neptune;
  }
  &:hover {
    background-color: $bg-hover;
  }
  @media (max-width: 568px) {
    display: block;
    width: 28%;
    background-color: transparent;
    border: none;
    padding: 20px 24px;
    font-size: 9px;
    letter-spacing: 2px;
    &.active {
      border-bottom: 3px solid $bg-neptune;
      background-color: transparent;
    }
    span {
      display: none;
    }
  }
}
/*FOOTER*/

.card__footer {
  font-family: "Antonio", sans-serif;
  border: 1px solid #ffffff;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #ffffff;
  opacity: 1;
  .card-body {
    width: auto;
    padding: 4px 0 27px 23px;
  }

  .card-title {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    margin-top: 20px;
    color: #ffffff;
    letter-spacing: 1px;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  @media (max-width: 568px) {
    .card-body {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      margin: 9px 48px;
    }
    .card-title {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
