/*@import "../../node_modules/bootstrap/scss/bootstrap";*/
.nav {
  flex-direction: column;
}

/*
    &__structure {
      font-size: 11px;
      text-transform: uppercase;
      text-decoration: none;
      background-color: goldenrod;
      border-top: 5px solid rgb(0, 255, 17);
      color: #ffffff;
      opacity: 0.75;
      letter-spacing: 1px;
      padding: 14px;
      transition: all 0.2s ease-in;
      &.active {
        color: #ffffff !important;
        font-weight: 700;
        background-color: goldenrod;
        border-top: 5px solid rgb(0, 255, 17);
      }
      &:hover {
        color: #ffffff !important;
        border-top: 5px solid rgb(0, 255, 17);
        font-weight: 700;
        opacity: 1;
      }
    }
  }
  &__venus {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.75;
    letter-spacing: 1px;
    padding: 14px;
    transition: all 0.2s ease-in;

    &.active {
      color: #ffffff !important;
      font-weight: 700;
      background-color: rgb(32, 218, 150);
      border-top: 5px solid rgb(255, 0, 174);
    }
    &:hover {
      color: #ffffff !important;
      font-weight: 700;
      opacity: 1;
      border-top: 5px solid rgb(255, 0, 174);
    }
  }
  &__earth {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.75;
    letter-spacing: 1px;
    padding: 14px;
    transition: all 0.2s ease-in;

    &.active {
      color: #ffffff !important;
      font-weight: 700;
      background-color: rgb(91, 32, 218);
      border-top: 5px solid rgb(0, 145, 255);
    }
    &:hover {
      color: #ffffff !important;
      font-weight: 700;
      border-top: 5px solid rgb(0, 145, 255);
      opacity: 1;
    }
  }
  &__mars {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.75;
    letter-spacing: 1px;
    padding: 14px;
    transition: all 0.2s ease-in;

    &.active {
      color: #ffffff !important;
      font-weight: 700;
      background-color: rgb(218, 203, 32);
      border-top: 5px solid rgb(255, 0, 123);
    }
    &:hover {
      color: #ffffff !important;
      font-weight: 700;
      border-top: 5px solid rgb(255, 0, 123);
      opacity: 1;
    }
  }
}
*/
/*FOOTER*/
.card__footer {
  font-family: "Antonio", sans-serif;
  border: 1px solid #ffffff;
  width: 100%;
  height: 100%;
  .card-body {
    padding: 4px 0 27px 23px;
  }
  .card-title {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    color: #ffffff;
    letter-spacing: 1px;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .card-footer {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #ffffff;
    opacity: 1;
  }
}
